@page "/manage/{GuildID:long}"
@using Kobalt.Dashboard.Components
@using Humanizer
@using Kobalt.Dashboard.Views
@using Kobalt.Infractions.Shared
@using Kobalt.Shared.Types
@layout DashboardLayout

@if (_guildState is GuildState.Unavailable)
{
    <ProblemView Message="Oh boy.">
        <MudText Typo="Typo.h5" Align="Align.Center">
            Looks like that guild either isn't available or the request failed. <br/>
            Refresh the page or try a different guild id.
        </MudText>
    </ProblemView>
}
else if (_guildState is GuildState.Loading)
{
    <MudContainer Style="align-items: center" MaxWidth="MaxWidth.Medium">
        <MudText Typo="Typo.h4">Loading some additional information...</MudText>
        <MudProgressLinear Color="Color.Tertiary" Indeterminate="true" Size="Size.Large" />
    </MudContainer>
}
else
{
    <MudText Typo="Typo.h3" GutterBottom="true">Managing: @(_guild!.Name)</MudText>
    <div style="margin-top: 20px"></div>
    <MudGrid>
    <MudItem Style="min-width: 250px; display: flex; flex-shrink: 2; flex-grow: 1; flex-basis: min-content;">
        <MudCard Elevation="0" >
            <MudCardContent>
                <MudText Typo="Typo.h4" GutterBottom="true">Welcome to Kobalt</MudText>
                    
                <MudText Typo="Typo.subtitle1">
                    Kobalt is a moderation bot that aims to one-size fits most, without compromise. <br/> <br/>
                    It's currently in a very early stage of development, so expect bugs and missing features!
                </MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="display: flex; flex-grow: 3">
        <MudCard Style="flex-grow: 1;">
            <MudCardContent>
                <MudText Typo="Typo.h5" GutterBottom="true">Recent Actions</MudText>
                    
                @if (!_infractions?.IsSuccess ?? false)
                {
                    <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
                        Failed to fetch recent actions.
                    </MudAlert>
                }
                else if (_infractions is { IsSuccess: true, Entity: [] })
                {
                    <MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Center">
                        No recent actions.
                    </MudAlert>
                }
                else
                {
                    <MudTable T="InfractionView" ReadOnly="true" Items="@(_infractions?.Entity ?? Array.Empty<InfractionView>())" Loading="@(_infractions is null)">
                        <HeaderContent>
                            <MudTh>Type</MudTh>
                            <MudTh>Enforcer</MudTh>
                            <MudTh>Target</MudTh>
                            <MudTh>Created</MudTh>
                            <MudTh>Expires</MudTh>
                            <MudTh>Reason</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Type">@context.Type</MudTd>
                            <MudTd DataLabel="Enforcer">@context.Enforcer</MudTd>
                            <MudTd DataLabel="Target">@context.Target</MudTd>
                            <MudTd DataLabel="Created">@context.When.Humanize()</MudTd>
                            <MudTd DataLabel="Expires">@(@context.Expiration?.Humanize() ?? "Never")</MudTd>
                            <MudTd DataLabel="Reason">@context.Reason</MudTd>
                        </RowTemplate>
                    </MudTable>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="max-width: 100%">
        <MudTabs PanelClass="pb-4" Outlined="true" MinimumTabWidth="130px" Rounded="true" Elevation="4" ApplyEffectsToContainer="true" Class="mt-8">
        <MudTabPanel Icon="@Icons.Material.Filled.Security" Text="AutoMod">
            <MudTooltip Delay="250" Text="How many users are allowed to be in a channel before it's switched to Push-To-Talk."> 
                <MudNumericField T="int?" bind-Value="_kobaltGuild!.AutoMod.PushToTalkThreshold" Variant="Variant.Text" Min="0" Label="Push To Talk Threshold"/> 
            </MudTooltip> 
        </MudTabPanel>
                
        <MudTabPanel Icon="@Icons.Material.Filled.PersonAddDisabled" Text="Anti-Raid">
            <MudContainer Class="mt-0">
                <MudCheckBox @bind-Checked="_kobaltGuild!.AntiRaid.IsEnabled" Style="margin: 16px 0 -16px -13px">Enabled</MudCheckBox>
                <MudSelect T="TimeSpan" @bind-Value="_kobaltGuild.AntiRaid.MinimumAccountAge" AdornmentIcon=@Icons.Material.Outlined.DateRange Disabled="!_kobaltGuild.AntiRaid.IsEnabled" Converter="_timespanConverter">
                    <MudSelectItem Value=@(TimeSpan.FromDays(7))>1 Week</MudSelectItem>
                    <MudSelectItem Value=@(TimeSpan.FromDays(14))>2 Weeks</MudSelectItem>
                    <MudSelectItem Value=@(TimeSpan.FromDays(30))>1 Month</MudSelectItem>
                    <MudSelectItem Value=@(TimeSpan.FromDays(90))>3 Months</MudSelectItem>
                    <MudSelectItem Value=@(TimeSpan.FromDays(180))>6 Months</MudSelectItem>
                    <MudSelectItem Value=@(TimeSpan.FromDays(365))>1 Year</MudSelectItem>
                </MudSelect>
                    
                <MudNumericField T="int"
                                 FullWidth="false"
                                 Disabled="!_kobaltGuild!.AntiRaid.IsEnabled"
                                 Immediate="false"
                                 Min="0"
                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                 Label="Base Threat Score"
                                 Variant="Variant.Text"
                                 @bind-Value="_kobaltGuild.AntiRaid.BaseJoinScore"/>
                    
                <MudNumericField T="int"
                                 Disabled="!_kobaltGuild!.AntiRaid.IsEnabled"
                                 Immediate="false"
                                 Min="0"
                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                 Label="Join Wave Score"
                                 Variant="Variant.Text"
                                 @bind-Value="_kobaltGuild.AntiRaid.JoinVelocityScore"/>
    
                <MudNumericField T="int"
                                 Disabled="!_kobaltGuild!.AntiRaid.IsEnabled"
                                 Immediate="false"
                                 Min="0"
                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                 Label="Minimium Account Age Score"
                                 Variant="Variant.Text"
                                 @bind-Value="_kobaltGuild.AntiRaid.MinimumAgeScore"/>
    
                <MudNumericField T="int"
                                 Disabled="!_kobaltGuild!.AntiRaid.IsEnabled"
                                 Immediate="false"
                                 Min="0"
                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                 Label="No Avatar Score"
                                 Variant="Variant.Text"
                                 @bind-Value="_kobaltGuild.AntiRaid.NoAvatarScore"/>
    
                <MudNumericField T="int"
                                 Disabled="true"
                                 Immediate="false"
                                 Min="0"
                                 Max="_kobaltGuild!.AntiRaid.ThreatScoreThreshold"
                                 Label="Suspicious Invite Score (Coming Soon!)"
                                 Variant="Variant.Text"
                                 @bind-Value="_kobaltGuild.AntiRaid.SuspiciousInviteScore"/>
    
                <MudNumericField T="int"
                                 Disabled="!_kobaltGuild!.AntiRaid.IsEnabled"
                                 Immediate="false"
                                 Min="0"
                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                 Label="Threat Score Threshold"
                                 Variant="Variant.Text"
                                 @bind-Value="_kobaltGuild.AntiRaid.ThreatScoreThreshold"/>
            </MudContainer>
        </MudTabPanel>
                
        <MudTabPanel Icon="@Icons.Material.Filled.ManageSearch" Text="Anti-Phishing">
            <MudCheckBox @bind-Checked="_kobaltGuild!.AntiPhishing.ScanUsers" Label="Scan Users"/>
            <MudCheckBox @bind-Checked="_kobaltGuild!.AntiPhishing.ScanLinks" Label="Scan Links"/>
            <MudSelect @bind-Value="_kobaltGuild!.AntiPhishing.DetectionAction" Label="Detection Action">
                <MudSelectItem Value="InfractionType.Ban">Ban</MudSelectItem>
                <MudSelectItem Value="InfractionType.Kick">Kick</MudSelectItem>
                <MudSelectItem Value="InfractionType.Mute">Mute</MudSelectItem>
                <MudSelectItem Value="InfractionType.Warning">Warn</MudSelectItem>
            </MudSelect>
        </MudTabPanel>
                
        <MudTabPanel Icon="@Icons.Material.Filled.Notes" Text="Logging">
            <MudTable EditTrigger="TableEditTrigger.EditButton" T="KobaltLoggingConfigView" Items="_kobaltGuild!.Logging">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">@("Channel".ToQuantity(_kobaltGuild.Logging.Count))</MudText>
                    <MudSpacer/>
                    <div style="height: min-content; align-items: center" class="flex flex-row space-x-2">
                        <MudHidden Breakpoint="Breakpoint.SmAndDown">
                            <MudTextField Margin="Margin.Dense" Style="max-width: 210px;" FullWidth="false" Placeholder="Search" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" @bind-Value="_currentSearch"/>
                        </MudHidden>
                        <MudButton Class="k-log-button" Style="width: fit-content; height: 40px;" Color="Color.Primary" Variant="Variant.Filled">Add A Channel</MudButton>
                    </div>
                </MudToolBar>
                <MudContainer MaxWidth="MaxWidth.Small">
                    <MudStack>
                        @foreach (var channel in _kobaltGuild!.Logging)
                        {
                            <LoggingChannelHolder
                                ChannelID="channel.ChannelID"
                                DeleteHandler="@((c) => _kobaltGuild.Logging.RemoveAll(x => x.ChannelID == c))"
                                @bind-SelectedItems="channel.Types"
                                ChannelName="@(_channels!.TryGetValue(channel.ChannelID, out var cn) ? "#" + cn.Name : "Unknown Channel")"/>
                        }
                    </MudStack>
                </MudContainer>
            </MudTabPanel>
        </MudTabs>
        
        @if (_isBusy)
        {
            <MudButton Disabled="true" Class="mt-7 cursor-progress" Style="width: fit-content" Variant="Variant.Filled">
                <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2"/> Updating...
            </MudButton>
        }
        else
        {
            <MudButton Color="Color.Info" Class="mt-7" Style="width: fit-content" Variant="Variant.Filled">
                <MudIcon Icon="@Icons.Material.Filled.Save"/> Save Changes
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-2"/> Save Changes
            </MudButton>
        }
    </MudItem> 
    </MudGrid>
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <style>
            .k-log-button {
                height: 25px !important;
                padding: 0 10px !important;
            }
        </style>
    </MudHidden>
}

<style>
    .mud-tabs-scroll-button {
        width: 46px !important;
    }
</style>