@page "/manage/{GuildID:long}"
@using Kobalt.Dashboard.Components
@using Humanizer
@using Kobalt.Dashboard.Views
@using Kobalt.Infractions.Shared
@using Kobalt.Shared.Types
@layout DashboardLayout

@if (_guildState is GuildState.Unavailable)
{
    <ProblemView Message="Oh boy.">
        <MudText Typo="Typo.h5" Align="Align.Center">
            Looks like that guild either isn't available or the request failed. <br/>
            Refresh the page or try a different guild id.
        </MudText>
    </ProblemView>
}
else if (_guildState is GuildState.Loading)
{
    <MudContainer Style="align-items: center" MaxWidth="MaxWidth.Medium">
        <MudText Typo="Typo.h4">Loading some additional information...</MudText>
        <MudProgressLinear Color="Color.Tertiary" Indeterminate="true" Size="Size.Large" />
    </MudContainer>
}
else
{
    <MudText Typo="Typo.h3" GutterBottom="true">Currently viewing @(_guild!.Name)</MudText>
    <div style="margin-top: 20px"></div>
    <MudGrid>
    <MudItem Style="min-width: 250px; display: flex; flex-shrink: 2; flex-grow: 1; flex-basis: min-content;">
        <MudCard Elevation="0" Square="true" >
            <MudCardContent >
                <MudText Typo="Typo.h4" GutterBottom="true">Welcome to Kobalt</MudText>
                    
                <MudText Typo="Typo.subtitle1">
                    Kobalt is a moderation bot that aims to one-size fits most, without compromise. <br/> <br/>
                    It's currently in a very early stage of development, so expect bugs and missing features!
                </MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Style="display: flex; flex-grow: 3">
        <MudCard Style="flex-grow: 1;">
            <MudCardContent>
                <MudText Typo="Typo.h5" GutterBottom="true">Recent Actions</MudText>
                    
                @if (!_infractions?.IsSuccess ?? false)
                {
                    <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
                        Failed to fetch recent actions.
                    </MudAlert>
                }
                else if (_infractions is { IsSuccess: true, Entity: [] })
                {
                    <MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Center">
                        No recent actions.
                    </MudAlert>
                }
                else
                {
                    <MudTable T="InfractionView" ReadOnly="true" Items="@(_infractions?.Entity ?? Array.Empty<InfractionView>())" Loading="@(_infractions is null)">
                        <HeaderContent>
                            <MudTh>Type</MudTh>
                            <MudTh>Enforcer</MudTh>
                            <MudTh>Target</MudTh>
                            <MudTh>Created</MudTh>
                            <MudTh>Expires</MudTh>
                            <MudTh>Reason</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Type">@context.Type</MudTd>
                            <MudTd DataLabel="Enforcer">@context.Enforcer</MudTd>
                            <MudTd DataLabel="Target">@context.Target</MudTd>
                            <MudTd DataLabel="Created">@context.When.Humanize()</MudTd>
                            <MudTd DataLabel="Expires">@(@context.Expiration?.Humanize() ?? "Never")</MudTd>
                            <MudTd DataLabel="Reason">@context.Reason</MudTd>
                        </RowTemplate>
                    </MudTable>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem>
        <MudExpansionPanels MultiExpansion="true">
                
            @* Auto-Mod *@
            <MudExpansionPanel>
                <TitleContent>
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Security"/> Auto-Moderation
                    </MudText>
                </TitleContent>
                <ChildContent>
                    <MudContainer Style="margin-top: -16px;">
                        <MudTooltip Delay="250" Text="How many users are allowed to be in a channel before it's switched to Push-To-Talk.">
                            <MudNumericField T="int?" bind-Value="_kobaltGuild.AutoMod.PushToTalkThreshold" Variant="Variant.Text" Min="0" Label="Push To Talk Threshold"/>
                        </MudTooltip>
                    </MudContainer>
                </ChildContent>
            </MudExpansionPanel>
                
            @* Anti-Raid *@
            <MudExpansionPanel>
                <TitleContent>
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.PersonAddDisabled"/> Anti-Raid
                    </MudText>
                </TitleContent>
                <ChildContent>
                    <MudContainer Style="margin-top: -16px;">
                        <MudGrid Spacing="3">
                            <MudItem xs="12">
                                <MudCheckBox @bind-Checked="_kobaltGuild.AntiRaid.IsEnabled">Enabled</MudCheckBox>
                            </MudItem>

                            <MudItem>
                                <MudTextField T="TimeSpan" Converter="_timespanConverter" Disabled="!_kobaltGuild.AntiRaid.IsEnabled" Required="true" Label="Minimum Account Age"></MudTextField>
                            </MudItem>
                            <MudItem>
                                <MudNumericField T="int"
                                                 Disabled="!_kobaltGuild.AntiRaid.IsEnabled"
                                                 Immediate="false"
                                                 Min="0"
                                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                                 Label="Base Threat Score"
                                                 Variant="Variant.Text"
                                                 @bind-Value="_kobaltGuild.AntiRaid.BaseJoinScore"/>
                            </MudItem>

                            <MudItem>
                                <MudNumericField T="int"
                                                 Disabled="!_kobaltGuild.AntiRaid.IsEnabled"
                                                 Immediate="false"
                                                 Min="0"
                                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                                 Label="Join Wave Score"
                                                 Variant="Variant.Text"
                                                 @bind-Value="_kobaltGuild.AntiRaid.JoinVelocityScore"/>
                            </MudItem>
                            <MudItem>
                                <MudNumericField T="int"
                                                 Disabled="!_kobaltGuild.AntiRaid.IsEnabled"
                                                 Immediate="false"
                                                 Min="0"
                                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                                 Label="Minimium Account Age Score"
                                                 Variant="Variant.Text"
                                                 @bind-Value="_kobaltGuild.AntiRaid.MinimumAgeScore"/>
                            </MudItem>
                            <MudItem>
                                <MudNumericField T="int"
                                                 Disabled="!_kobaltGuild.AntiRaid.IsEnabled"
                                                 Immediate="false"
                                                 Min="0"
                                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                                 Label="No Avatar Score"
                                                 Variant="Variant.Text"
                                                 @bind-Value="_kobaltGuild.AntiRaid.NoAvatarScore"/>
                            </MudItem>
                            <MudItem>
                                <MudNumericField T="int"
                                                 Disabled="true"
                                                 Immediate="false"
                                                 Min="0"
                                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                                 Label="Suspicious Invite Score (Coming Soon!)"
                                                 Variant="Variant.Text"
                                                 @bind-Value="_kobaltGuild.AntiRaid.SuspiciousInviteScore"/>
                            </MudItem>
                            <MudItem>
                                <MudNumericField T="int"
                                                 Disabled="!_kobaltGuild.AntiRaid.IsEnabled"
                                                 Immediate="false"
                                                 Min="0"
                                                 Max="_kobaltGuild.AntiRaid.ThreatScoreThreshold"
                                                 Label=""
                                                 Variant="Variant.Text"
                                                 @bind-Value="_kobaltGuild.AntiRaid.ThreatScoreThreshold"/>
                            </MudItem>
                        </MudGrid>
                    </MudContainer>
                </ChildContent>
            </MudExpansionPanel>
                
            @* Anti-Phishing *@
            <MudExpansionPanel>
                <TitleContent>
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.ManageSearch"/> Anti-Phishing
                    </MudText>
                </TitleContent>
                <ChildContent>
                    <MudContainer Style="margin-top: -16px;">
                        <MudCheckBox @bind-Checked="_kobaltGuild.AntiPhishing.ScanUsers" Label="Scan Users"/>
                        <MudCheckBox @bind-Checked="_kobaltGuild.AntiPhishing.ScanLinks" Label="Scan Links"/>
                        <MudSelect @bind-Value="_kobaltGuild.AntiPhishing.DetectionAction" Label="Detection Action">
                            <MudSelectItem Value="InfractionType.Ban">Ban</MudSelectItem>
                            <MudSelectItem Value="InfractionType.Kick">Kick</MudSelectItem>
                            <MudSelectItem Value="InfractionType.Mute">Mute</MudSelectItem>
                            <MudSelectItem Value="InfractionType.Warning">Warn</MudSelectItem>
                        </MudSelect>
                    </MudContainer>
                </ChildContent>
            </MudExpansionPanel>

            <MudExpansionPanel DisableGutters>
                <TitleContent>
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Notes"/> Logging
                    </MudText>
                </TitleContent>
                    
                <ChildContent>
                    <MudContainer MaxWidth="MaxWidth.Medium" Style="margin-top: -16px;">
                        <MudTable EditTrigger="TableEditTrigger.EditButton" T="KobaltLoggingConfigView" Items="_kobaltGuild.Logging">
                            <ToolBarContent>
                                <MudText Typo="Typo.h6">@("Channel".ToQuantity(_kobaltGuild.Logging.Count))</MudText>
                                <MudSpacer/>
                                <div style="height: min-content; align-items: center" class="flex flex-row space-x-2">
                                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                                        <MudTextField Margin="Margin.Dense" Style="max-width: 210px;" FullWidth="false" Placeholder="Search" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" @bind-Value="_currentSearch"/>
                                    </MudHidden>
                                    <MudButton Class="k-log-button" Style="width: fit-content; height: 40px;" Color="Color.Primary" Variant="Variant.Filled">Add A Channel</MudButton>
                                </div>
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh>Channel</MudTh>
                                <MudTh>Logging Types</MudTh>
                                <MudTh>Remove</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Name">@(_channels.TryGetValue(@context.ChannelID, out var chn) ? $"#{chn.Name}" : "Unknown Channel")</MudTd>
                                <MudTd DataLabel="Types">@context.Types.Humanize(static t => t.Humanize())</MudTd>
                                <MudTd DataLabel="Remove">
                                    <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" Size="Size.Small" Color="@Color.Error"/>
                                </MudTd>
                            </RowTemplate>
                            <RowEditingTemplate>
                                <MudTd DataLabel="Name">@(_channels.TryGetValue(@context.ChannelID, out var chn) ? $"#{chn.Name}" : "Unknown Channel")</MudTd>
                                <MudTd>
                                    <MudSelect Required MultiSelection @bind-SelectedValues="@context.Types">
                                        @foreach (var type in Enum.GetValues<LogChannelType>())
                                        {
                                            <MudSelectItem Value="@type">@type.Humanize()</MudSelectItem>
                                        }
                                    </MudSelect>
                                </MudTd>
                            </RowEditingTemplate>
                            <EditButtonContent Context="button">
                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled"/>
                            </EditButtonContent>
                        </MudTable>
                    </MudContainer>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
            
        <MudButton Color="Color.Info" Disabled="_isBusy" Class="mt-7" Variant="Variant.Filled">
            @if (_isBusy)
            {
                <MudProgressCircular Size="Size.Small" />
                <MudText>Updating...</MudText>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.Save" />
                <MudText>Save Changes</MudText>
            }
        </MudButton>
    </MudItem> 
    </MudGrid>
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <style>
            .k-log-button {
                height: 25px !important;
                padding: 0 10px !important;
            }
        </style>
    </MudHidden>
}